@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@font-face {
  font-family: 'Source Serif 4';
  font-display: auto;
  src: url('./SourceSerif4-Regular.ttf') format('truetype'), /* указываем путь к файлу шрифта в папке public */
  url('./SourceSerif4-Regular.ttf') format('truetype');
  /* Дополнительные стили и настройки шрифта (например, font-weight, font-style и др.) */
}
@font-face {
  font-family: 'NT Somic';
  font-display: auto;
  src: url('./NT Somic-VF.ttf') format('truetype'), /* указываем путь к файлу шрифта в папке public */
  url('./NT Somic-VF.ttf') format('truetype');
  /* Дополнительные стили и настройки шрифта (например, font-weight, font-style и др.) */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
font-family: 'Source Serif 4', sans-serif;
}
