.container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 20px 0;
}

.ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* Для плавного скролла на iOS */
    scrollbar-width: none; /* Скрываем скроллбар в Firefox */
}

.ul::-webkit-scrollbar {
    display: none; /* Скрываем скроллбар в Chrome/Safari */
}

.li {
    flex: 0 0 auto;
    margin-right: 15px;
    height: 480px;
    user-select: none; /* Предотвращаем выделение при перетаскивании */
}

.img {
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
    .li{
        height: 340px;
    }
}
